<h1>Episodes</h1>
<hr />

<% @episodes.each do |episode| %>
<section>
    <h2><%=episode.title%> - <em>Season <%= episode.season.number %></em> </h2>
    <p><%=episode.plot%></p>
</section>
<% end %>
